@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    /*background-color: #515153;*/
    background-image:
            linear-gradient(to bottom right, #ffffff, transparent 188%),
            linear-gradient(to bottom, #115ba7 -51%, #0857a9 44%, transparent 69%),
            radial-gradient(at center right, #db4879, transparent 53%),
            radial-gradient(at bottom left, #b3754a, transparent 78%),
            radial-gradient(at bottom right, #ffffff, transparent 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 884px;
    height: 725px;
    background-color: #fdfdfd;
    border-radius: 30px;
    font-size: 20px;
    overflow: hidden;
}

.sidebar {
    /*width: 240px;*/
    font-weight: bold;
    padding: 17px;
    border-right: 2px solid #cfcfcfc7;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 56px;
    width: 230px;
    font-weight: 500;
}

.sidebar li:hover,
.sidebar li.active {
    background-color: #ededed;
    border: 1px solid #dadadac7;
    border-radius: 15px;
}



.sidebar li:hover .svg .icon {
    width: 65%;
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar li.active .svg .icon {
    width: 90%;
    opacity: 1;
    transition: all 0.3s ease;
}

.icon {
    width: 60%;
    opacity: 0.5;
    transition: all 0.3s ease;
}



.settings {
    flex: 1;
    /*padding: 40px;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h2 {
    margin: 25px 31px 20px;
    font-size: 30px;
    font-weight: 500;
}

hr {
    border-width: 2px;
    opacity: 0.3;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 31px;
    font-size: 16px;
}

.setting-row label {
    font-weight: 500;
    /*flex: 1;*/
}


.editable span {
    margin-right: 7px;
}

.edit-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.edit-btn img {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: -3px;
}

.muted {
    color: gray;
}


.switch {
    --button-width: 2.8em;
    --button-height: 1.5em;
    --toggle-diameter: 1.2em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #595959;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}






.custom-select {
    background-color: #ededed;
    width: 160px;
    border: 1px solid #dadada;
    border-radius: 11px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

.custom-select select {
    appearance: none;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    width: 100%;
    padding: 13px;
    font-size: 16px;
    border: none;
    background-color: #ededed;
    cursor: pointer;
}

select:focus {
    outline: none;
}


/* fausse flèche */
.custom-select::after {
   content: "›";
   position: absolute;
   top: 50%;
   right: 18px;
   transform: translateY(-50%) rotate(90deg);
   pointer-events: none;
   color: #333;
}


.svg {
    background-color: #fdfdfd;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

